<!doctype html>
<html lang="ja">
  <head>
    <title>投稿表示</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link type="text/css" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/posts.css">
  </head>
  <%- include('./partisls/loginHeader.ejs', {userData: userData}) %> 
  <body>
    <% for (let i = postsData.length-1; i >= 0; i--) { %>
      <div class="card w-75 mx-auto mt-4 mb-4">
        <div class="card-body">
          <h5 class="card-title"><%= postsData[i].title %></h5>
          <h6 class="card-subtitle mb-2 text-muted">投稿者: <%= postsData[i].postedBy %></h6>
          <p class="card-text"><%= postsData[i].content %></p>

          <% if (postsData[i].likeUsers.includes(userData.id)) { %> 
            <a href="<%=`posts/${postsData[i].id}/like`%>" class="dislike-btn"><i class="fas fa-heart"></i></a><span><%= postsData[i].likeCount %></span> 
          <% } else { %>     
            <a href="<%=`posts/${postsData[i].id}/like`%>" class="like-btn"><i class="far fa-heart"></i></a><span><%= postsData[i].likeCount %></span> 
          <% } %> 
  
          <% if (userData.id === postsData[i].userId) { %> 
            <br>
            <br>
            <a href="<%=`posts/${postsData[i].id}/edit` %>" class="btn btn-primary">編集</a>
            <a href="<%=`posts/${postsData[i].id}/delete` %>" class="btn btn-danger">削除</a>
          <% } %> 

        </div>
      </div> 
    <% } %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/2964a7ff6e.js" crossorigin="anonymous"></script>
  </body>
</html>